.FrontPageNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(135deg, #000103, #e6eaeeca);
  color: rgb(74, 74, 74);
}
.logo {
  margin-left: -30px;
  cursor: pointer;
}

.nav-right .login-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
