/* ================= Sidebar ================= */
.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  height: 100vh;
  position: fixed;
  overflow-y: auto;  
  overflow-x: hidden;
}

.sidebar * {
  color: var(--text-color);
}

.sidebar.collapsed {
  width: 70px; 
}

.sidebar.expanded {
  width: 240px;
}

/* Sidebar menu items */
.sidebar-ul {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 8px;
  padding: 0;
}

.sidebar-li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
  padding: 10px 12px;
  text-decoration: none;
  color: #5f6368;
  font-size: 0.95rem;
  cursor: pointer;
}

.sidebar-li span {
  white-space: nowrap;
}

/* Hover effect */
.sidebar-li:hover {
  background-color: #a7a7a7;
}

/* Subjects section */
.sidebar-subjects {
  margin-top: 20px;
  padding: 0 10px;
}

/* Scrollbar styling */
.sidebar::-webkit-scrollbar {
  width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-subjects-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  color: var(--text-color);
  border-bottom: 1px solid #ccc;
}

.subjects-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.subject-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  text-decoration: none;
  color: #5f6368;
  font-size: 0.95rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.subject-item:hover {
  background-color: #a7a7a7;
}

.subject-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--avator-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--avator-color);
  flex-shrink: 0;
}



/* ================= Responsive ================= */

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    left: -70px;
  }

  .sidebar.expanded {
    left: 0; /* show sidebar on toggle */
    width: 70px; /* full width when expanded */
  }

  /* Hide text spans on mobile */
  .sidebar-li span {
    display: none;
  }

  /* Center icons vertically */
  .sidebar-li {
    justify-content: center;
    padding: 15px 0;
  }
  .sidebar-subjects {
    display: none; /* hide subjects list on mobile */
}
}
